@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } 
}
*{
  scroll-behavior: smooth !important;
  scrollbar-width: none;
}
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
input, textarea{
  
  @apply px-3 py-2 focus:outline-green-400 rounded-lg dark:bg-[#3f434a]  bg-gray-300 
}

@layer base{
  section{
    /* display: ; */
    @apply min-h-screen my-5 pt-20 sm:pt-0
  }
 .bottomNavLinks{
  @apply  px-3 py-3 dark:text-white rounded-[100%] text-gray-700 text-2xl sm:text-3xl transition-all
 }
}